streamlit==1.35.0
streamlit-mic-recorder==0.0.8

openai-whisper==20231117

langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langgraph==0.0.38

groq==0.9.0
openai==1.30.1

python-dotenv==1.0.1
pydub==0.25.1

numpy==1.26.4
torch==2.2.2

tqdm

rich==13.7.1